<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs496.dndcompanionapp">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Bard">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="CharacterBuilderActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="MonsterGenActivity"
            android:label="Monster Generator">
        </activity>
        <activity
            android:name="ManualActivity"
            android:label="Quick Reference">
        </activity>
        <activity
            android:name="ManualClassActivity"
            android:label="Classes">
        </activity>
        <activity
            android:name="ManualSubclassActivity"
            android:label="Subclasses">
        </activity>
        <activity
            android:name="ManualRaceActivity"
            android:label="Races">
        </activity>
        <activity
            android:name="ManualSubraceActivity"
            android:label="Subraces">
        </activity>
        <activity
            android:name="ManualSkillActivity"
            android:label="Skills">
        </activity>
        <activity
            android:name="ManualSpellActivity"
            android:label="Spells">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>